<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />

    <queries tools:node="remove" />

    <application>

        <activity
            android:name="org.traccar.gateway.GatewayActivity"
            android:exported="false" />

        <service
            android:name="org.traccar.gateway.GatewayService"
            android:foregroundServiceType="remoteMessaging"
            />

        <service
            android:name="org.traccar.gateway.GatewayMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>
